@{
      ViewBag.Title = "Permits Information";
}


<!DOCTYPE html>

<html>
   <body>
       <div>
     <br />   <b> Permits Information </b> <br /> A typical day starts from 9AM to 4PM.
           Late fee is also charged for overtime parked cars based on hourly and daily.
      
          <ul> <li>Students</li></ul>
           &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            Students can have monthly ($100), yearly ($500) and five yearly ($1500) passes.
           
            <ul> <li>Staff</li></ul>
           &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
           Staff gets to park free in assigned parking sections.

            <ul> <li>Visitors</li></ul>
           &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
           Visitors can park and gets charged on hourly or daily basis.
           Visitor’s fee is $3 per 2 hours and $10 per day.             
           
    </div> <br />
  
</body>
</html>
