@{
    ViewBag.Title = "About";
}

<!DOCTYPE html>
<html>
    <body>

      <div>
       <br />Online Parking Services can help with buying parking permits, reserving parking slots and other services related to our university's parking lots and garages.
          Please don't forget that you always need a parking permit to park at SJSU. Please visit the <a href="/home">Parking Services website</a> for more information.
        
    </div> <br />
    <div>
        <b> Campus Maps and Directions: </b> The main campus has more than 50 major buildings (23 academic buildings, 7 residence halls) on 19 city blocks in downtown San Jose. <br />
        The maps below will help you find your way around.
        
    </div> <br />
    <div>
       
        <img style="background: #000;" src="/Content/Images/campusmap.png" width="660" height="470">
        
    </div> <br />

</body>
</html>
