@{
    ViewBag.Title = "Contact Us";
}

<!DOCTYPE html>

<html>

<body>
 <div>
     <br />   
    </div> 
    <div>
       <br /> <b>
        San Jose State University <br />
        One Washington Square <br />
        San Jose, CA 95192 <br />
        408-924-1000 <br/>
        Email: parking@fall2013_285.edu </b>
    </div> <br />

</body>
</html>
