@{
    ViewBag.Title = "Home";
}

<h2>Welcome to SJSU Parking Services Home Page </h2>
<!DOCTYPE html>

<html>

<body>
    <div>
        <b> Existing Customers: </b> If you have purchased an SJSU parking permit either online or in person, please select <a href="/reserveparking">Reserve Parking</a> to reserve a Parking Slot. <br/>
        
    </div> <br />
    <div>
        <b> New Customers: </b> If you have not previously purchased an SJSU parking permit, please purchase by selecting <a href="/buypermit">Buy Permits</a>. <br />
        
    </div> <br />
    Any problems or questions please <a href="mailto:parkingfall2013@gmail.com?Subject=Hello%20again" target="_top">
  Email</a> to the SJSU Parking Services.

</body>
</html>
